target
data
.git
.gitignore
node_modules
sdk/javascript/node_modules
sdk/python/.venv
sdk/python/build
sdk/python/dist
cloudflare/.wrangler
**/*.log
**/*.qdb
**/*.sqlite
**/*.db
**/*.rdb
**/*.bin
**/*.pem
**/*.key
**/*.crt
**/*.der
**/*.p12
**/*.pfx
**/*.cert
**/*.wallet
**/*.dat
**/*.cache
**/*.tmp
**/*.tar
**/*.zip
**/*.gz
**/*.7z
**/*.xz
