p2p_address = "/ip4/127.0.0.1/tcp/8333"
api_address = "127.0.0.1:8080"
peers = []
local_full_p2p_address = "/ip4/127.0.0.1/tcp/8333/p2p/12D3KooWBUfMefQKJAkLZPAqXKRMiZ6LST4bdeZykEwovDsAdGAt"
network_id = "qanto-testnet"
genesis_validator = "63e70fa0ce7c33793c9a5f8333894b80291fec344ed676c7e30dc04f003c66bb"
contract_address = "4a8d50f24c5ffec79ac665d123a3bdecacaa95f9f26751385a5a925c647bd394"
target_block_time = 31
difficulty = 1
max_amount = 21000000000
use_gpu = false
zk_enabled = true
mining_threads = 4
mining_enabled = true
num_chains = 1
mining_chain_id = 0
mining_interval_ms = 30
dummy_tx_interval_ms = 15
dummy_tx_per_cycle = 100
mempool_max_age_secs = 3600
mempool_max_size_bytes = 67108864
mempool_batch_size = 1000
mempool_backpressure_threshold = 0.8
tx_batch_size = 500
adaptive_batch_threshold = 0.7
memory_soft_limit = 8388608
memory_hard_limit = 10485760
data_dir = "./data"
db_path = "./data/qanto.db"
wallet_path = "wallet.key"
p2p_identity_path = "p2p_identity.key"
log_file_path = "./logs/qanto.log"

[logging]
level = "info"

[p2p]
heartbeat_interval = 60
mesh_n_low = 6
mesh_n = 8
mesh_n_high = 16
mesh_outbound_min = 4
